@font-face {
    font-family: 'Solano Gothic MVB Rg';
    src: url(../fonts/SolanoGothicMVB-Rg.ttf);
}

@font-face {
    font-family: 'Solano Gothic MVB Bd';
    src: url(../fonts/SolanoGothicMVB-Bd.ttf);
}

* {
    font-family: 'Solano Gothic MVB Rg' !important;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 98vw;
}

/* MENU LATERAL */
.navBar {
    display: flex;
    position: fixed;
    padding-top: 2vb;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3F2D6F;
    color: white;
    width: 15%;
    height: 100%;
    left: -4vw;
    z-index: 99;
    font-size: large;
}

.profile img {
    width: 90px;
    height: 90px;
    position: relative;
    left: -15%;
}

.profile {
    position: relative;
    align-self: center;
    color: white;
    width: 50%;
    height: 10%;
    left: 30%;
    margin-bottom: 4vh;
    font-family: 'Solano Gothic MVB Bd' !important;
    font-size: larger;
}

.menu-navegacao{
    width: 20%;
}
.menu-navegacao ul {
    list-style: none;
    align-self: center;
}
#opcao_nav:hover{
    cursor: pointer;
    font-weight: 600;
    color: #b37eb5;
}
    
    /* FEED DE CONTEUDO */
    .feed-post {
        position: relative;
        left: 11%;
        display: flex;
        flex-direction: column;
        padding: 2vb;
        background-color: #DFDEDE;
        width: 75%;
        height: fit-content;
        align-items: center;
    }
    .criar-post{
        width: 80%;
    }
    .form-post textarea{
        width: 100%;
    }
    .form-post h3{
        margin-top: 1vh;
        font-family: 'Solano Gothic MVB Bd' !important;
        color: #3F2D6F;
        font-weight: 900;
    }
    .feedPostagems{
        width: 80%;
        height: auto;
    }
    .feedPostagems textarea{
        width: 100%;
    }
    .box-post h3{
        margin-top: 1vh;
        font-family: 'Solano Gothic MVB Bd' !important;
        color: #3F2D6F;
        font-weight: 900;
    }
    .box-post{
        background-color: #DED6D3;
        height: 100%;
        padding: 2%;
    }
    .post span{
        font-size: larger;
        font-weight: 600;
    }
    .post ion-icon{
        color: #3F2D6F;
    }


    /* KPIS DINAMICAS */
    
 .kpi-home{
        display: flex;
        flex-direction: column;
        background-color: blueviolet;
        height: 100%;
    } 

    /* DASH DE QUIZZ */
    .dash-quizz {
        position: relative;
        left: 11%;
        display: flex;
        flex-direction: column;
        padding: 2vb;
        background-color: #DFDEDE;
        width: 89%;
        height: 96vh;
        align-items: center;
    }

    .linha-quiz{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-top: 5%;
    }

    .box-quiz{
        display: flex;
        flex-direction: row;
        height: 20%;
        width: 80vw;
        margin-left: 2%;
    }

    .box-quiz h4{
        margin: 0%;
    }

    .box-quiz img{
        width: 400px;
        height: 200px;
        margin-right: 2%;
    }

    .quiz-texto a{
        display: flex;
        font-family: 'Solano Gothic MVB Bd' !important;
        color: #3F2D6F;
    }
    
    /* QUIZ 1 */
    
    .quizz-pergunta {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px #3F2D6F solid;
        background-color: #DED6D3;
        width: 50vw;
        height: 30vw;
        font-size: large;
        padding: 5%;
    }


    .quizz-pergunta h4{
        margin: 0;
        font-size: 25px;
        font-family: 'Solano Gothic MVB Bd' !important;
        color: #3F2D6F;
    }

    .quizz-pergunta img{
        align-self: center;
        width: 40vw;
        height: 15vw;
        margin-bottom: 2%;
    }

    .pergunta{
        display: flex;
        flex-direction: column;
    }

    .respostas{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 4%;
    }

    #quizz1{
        color: #cfc5c1;
    }

    .quizz-pergunta button{
        margin-right: 15px;
        width: 8vw;
        height: 3vh;
    }
    .botoes{
        display: flex;
        flex-direction: row;
        align-self: flex-end;
    }
    .quizz-pergunta input{
        margin-left: 20px;
    }

    /* QUIZZ 2 */
    /* QUIZ 1 */
    
    .quizz-listagem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px #3F2D6F solid;
        background-color: #DED6D3;
        width: 50vw;
        height: 30vw;
        font-size: large;
        padding: 5%;
    }


    .quizz-listagem h4{
        margin: 0;
        font-size: 25px;
        font-family: 'Solano Gothic MVB Bd' !important;
        color: #3F2D6F;
    }

    .quizz-listagem img{
        align-self: center;
        width: 40vw;
        height: 15vw;
        margin-bottom: 2%;
    }

    .listagem{
        display: flex;
        flex-direction: column;
    }

    .respostas{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 4%;
    }

    #quizz1{
        color: #cfc5c1;
    }

    .quizz-listagem button{
        margin-right: 15px;
        width: 8vw;
        height: 3vh;
    }
    .botoes{
        display: flex;
        flex-direction: row;
        align-self: flex-end;
    }
    .quizz-listagem input{
        margin-bottom: 4%;
    }
    .timer{
        font-weight: bolder;
        font-size: 150px;
        color:  #3F2D6F;
        align-self: center;
    }
    .lista-acertos{
        display: flex;
        margin-bottom: 5px;
        font-weight: bold;
        height: fit-content;
        width: 40vw;
        align-self: center;
        justify-content: center;
    }